<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
         version="5.0">

 <display-name>Banque Application</display-name>

    <!-- Configuration des servlets -->
    <servlet>
        <servlet-name>CreditServlet</servlet-name>
        <servlet-class>servlets.CreditServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DepenseServlet</servlet-name>
        <servlet-class>servlets.DepenseServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>dashboardServlet</servlet-name>
        <servlet-class>servlets.dashboardServlet</servlet-class>
    </servlet>

        <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    

    <!-- Mapping des servlets -->
    <servlet-mapping>
        <servlet-name>CreditServlet</servlet-name>
        <url-pattern>/credit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DepenseServlet</servlet-name>
        <url-pattern>/depense</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    
    <!-- New servlet mappings for airline management -->
    <servlet>
        <servlet-name>AvionServlet</servlet-name>
        <servlet-class>servlets.AvionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AvionServlet</servlet-name>
        <url-pattern>/AvionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AeroportServlet</servlet-name>
        <servlet-class>servlets.AeroportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AeroportServlet</servlet-name>
        <url-pattern>/AeroportServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VolServlet</servlet-name>
        <servlet-class>servlets.VolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VolServlet</servlet-name>
        <url-pattern>/VolServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PassagerServlet</servlet-name>
        <servlet-class>servlets.PassagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassagerServlet</servlet-name>
        <url-pattern>/PassagerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BilletServlet</servlet-name>
        <servlet-class>servlets.BilletServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BilletServlet</servlet-name>
        <url-pattern>/BilletServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaiementServlet</servlet-name>
        <servlet-class>servlets.PaiementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaiementServlet</servlet-name>
        <url-pattern>/PaiementServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>servlets.ReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/ReservationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TrajetServlet</servlet-name>
        <servlet-class>servlets.TrajetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrajetServlet</servlet-name>
        <url-pattern>/TrajetServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TarifServlet</servlet-name>
        <servlet-class>servlets.TarifServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TarifServlet</servlet-name>
        <url-pattern>/TarifServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlets pour la gestion des publicités -->
    <servlet>
        <servlet-name>SocieteServlet</servlet-name>
        <servlet-class>servlets.SocieteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SocieteServlet</servlet-name>
        <url-pattern>/SocieteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DiffusionServlet</servlet-name>
        <servlet-class>servlets.DiffusionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiffusionServlet</servlet-name>
        <url-pattern>/DiffusionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TarifDiffusionServlet</servlet-name>
        <servlet-class>servlets.TarifDiffusionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TarifDiffusionServlet</servlet-name>
        <url-pattern>/TarifDiffusionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaiementSocieteServlet</servlet-name>
        <servlet-class>servlets.PaiementSocieteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaiementSocieteServlet</servlet-name>
        <url-pattern>/PaiementSocieteServlet</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>CAParVolServlet</servlet-name>
        <servlet-class>servlets.CAParVolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CAParVolServlet</servlet-name>
        <url-pattern>/CAParVolServlet</url-pattern>
    </servlet-mapping>
        <!-- Produits Extra -->
    <servlet>
        <servlet-name>ProduitExtraServlet</servlet-name>
        <servlet-class>servlets.ProduitExtraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProduitExtraServlet</servlet-name>
        <url-pattern>/ProduitExtraServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VenteProduitExtraServlet</servlet-name>
        <servlet-class>servlets.VenteProduitExtraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VenteProduitExtraServlet</servlet-name>
        <url-pattern>/VenteProduitExtraServlet</url-pattern>
    </servlet-mapping>
    
    
</web-app>
