<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
         version="5.0">

 <display-name>Banque Application</display-name>

    <!-- Configuration des servlets -->
    <servlet>
        <servlet-name>CreditServlet</servlet-name>
        <servlet-class>servlets.CreditServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DepenseServlet</servlet-name>
        <servlet-class>servlets.DepenseServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>dashboardServlet</servlet-name>
        <servlet-class>servlets.dashboardServlet</servlet-class>
    </servlet>

        <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    

    <!-- Mapping des servlets -->
    <servlet-mapping>
        <servlet-name>CreditServlet</servlet-name>
        <url-pattern>/credit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DepenseServlet</servlet-name>
        <url-pattern>/depense</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    
    <!-- New servlet mappings for airline management -->
    <servlet>
        <servlet-name>AvionServlet</servlet-name>
        <servlet-class>servlets.AvionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AvionServlet</servlet-name>
        <url-pattern>/AvionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AeroportServlet</servlet-name>
        <servlet-class>servlets.AeroportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AeroportServlet</servlet-name>
        <url-pattern>/AeroportServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VolServlet</servlet-name>
        <servlet-class>servlets.VolServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VolServlet</servlet-name>
        <url-pattern>/VolServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PassagerServlet</servlet-name>
        <servlet-class>servlets.PassagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PassagerServlet</servlet-name>
        <url-pattern>/PassagerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BilletServlet</servlet-name>
        <servlet-class>servlets.BilletServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BilletServlet</servlet-name>
        <url-pattern>/BilletServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaiementServlet</servlet-name>
        <servlet-class>servlets.PaiementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaiementServlet</servlet-name>
        <url-pattern>/PaiementServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>servlets.ReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/ReservationServlet</url-pattern>
    </servlet-mapping>
    
</web-app>
